<footer>
    <div class="container">
        <h3>{{@blog.title}}</h3>

        <div class="copyright">
            <p>Copyright © <a href="{{@blog.url}}">{{@blog.title}}</a>. {{date format='YYYY'}} • All rights reserved.</p>
            <p>Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></p>
        </div>

    </div>
</footer>