{{#if body}}
    <div class="widget wow fadeIn">
        {{#if title}}
            <h4 class="title">{{title}}</h4>
        {{/if}}

        {{#if body}}
            <p>{{{body}}}</p>
        {{/if}}
    </div>
{{/if}}