{{!< default}}
{{! This is a page template. A page outputs content just like any other post, and has all the same attributes by default, but you can also customise it to behave differently if you prefer. }}

{{#post}}
    <main role="main">
        {{> parallax}}
        <div class="container">
            <div class="row">
                <section class="col-md-10 col-md-push-1">
                    {{> article/page}}
                </section>
            </div>
        </div>
    </main>
{{/post}}
