{{!-- Reorder/remove widget blocks however you want them to appear on the sidebar --}}


{{> widget/follow
    title="Follow"
    facebook=true       facebookURL='http://www.facebook.com/'
    google=true         googleURL='https://plus.google.com/'
    twitter=true        twitterURL='http://twitter.com/'
    dribbble=true       dribbbleURL='http://dribbble.com/'
    instagram=true      instagramURL='http://instagram.com/'
    github=true         githubURL='http://github.com/'
    youtube=true        youtubeURL='http://youtube.com/'
    pinterest=true      pinterestURL='http://pinterest.com/'
    linkedin=true       linkedinURL='http://linkedin.com/'
    skype=true          skypeURL='http://skype.com/'
    tumblr=true         tumblrURL='http://tumblr.com/'
    rss=true
}}


{{> widget/newsletter
    title="Newsletter"
    body="Subscribe to our news letter!"
    subscriptionURL="#"
    buttonText="Subscribe"
}}


{{> widget/text
    title="Text Widget"
    body="Here you can add any text or html snippet. All widgets are reorderable. Also if you want to remove any widget from sidebar or footer then that is very simple."
}}


{{> widget/text
    title="HTML Snippet"
    body="<a href='#'>This will show a link</a>"
}}