/*********************************************************************
*						    Header / Navigation
*********************************************************************/
header.blog-header {
  position: relative;
}
header.blog-header nav {
  position: fixed;
  width: 100%;
  z-index: 100;
}
header.blog-header nav .hamburger-container {
  cursor: pointer;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  top: 2rem;
  right: 2rem;
  z-index: 200;
}
header.blog-header nav .hamburger-container .hamburger {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  background-color: #000000;
  height: 3px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 30px;
}
header.blog-header nav .hamburger-container .hamburger:before,
header.blog-header nav .hamburger-container .hamburger:after {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: transform 0.3s linear, top 0.3s linear, bottom 0.3s linear;
  -moz-transition: transform 0.3s linear, top 0.3s linear, bottom 0.3s linear;
  -o-transition: transform 0.3s linear, top 0.3s linear, bottom 0.3s linear;
  -ms-transition: transform 0.3s linear, top 0.3s linear, bottom 0.3s linear;
  transition: transform 0.3s linear, top 0.3s linear, bottom 0.3s linear;
  background-color: #000000 !important;
  content: '';
  height: inherit;
  position: absolute;
  width: inherit;
}
header.blog-header nav .hamburger-container .hamburger:before {
  top: -8px;
}
header.blog-header nav .hamburger-container .hamburger:after {
  bottom: -8px;
}
nav ul.nav {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  -webkit-transform: translateX(105%);
  -moz-transform: translateX(105%);
  -o-transform: translateX(105%);
  -ms-transform: translateX(105%);
  transform: translateX(105%);
  background-color: #ffffff;
  height: 100vh;
  margin: 0;
  overflow: auto;
  padding: 100px 0 0 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100vw;
  max-width: 350px;
  z-index: 100;
}
nav ul.nav li {
  font-size: 1.5rem;
  list-style: none;
  margin: 1rem;
}
nav ul.nav .subscribe-button {
  position: absolute;
  bottom: 10vh;
  left: 0;
  width: 100%;
}
nav.active ul.nav {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
nav.active .hamburger {
  background-color: #ffffff !important;
}
nav.active .hamburger:before {
  background-color: #000000 !important;
  top: 0 !important;
  transform: rotate(45deg);
}
nav.active .hamburger:after {
  background-color: #000000 !important;
  bottom: 0 !important;
  transform: rotate(-45deg);
}
/*********************************************************************
*  						        Page Header
*********************************************************************/
.page-header .logo {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
}
.page-header .logo h1 {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  width: 90vw;
}
.page-header .logo img {
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  padding: 2rem;
}
.page-header .next-section {
  color: #FFFFFF;
  font-size: 3rem;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  text-align: center;
  width: 60px;
  margin-left: -30px;
}
.page-header .author {
  color: #FFFFFF;
  font-weight: normal;
  text-align: center;
}
.page-header .author img {
  border: 3px solid #ffffff;
  max-width: 15rem;
  padding: 0;
}
.page-header .author h2 {
  font-size: 3rem;
  margin: 0.5rem;
}
.page-header .author p {
  margin: 1rem auto 1rem auto;
  max-width: 50rem;
}
.page-header .author span {
  font-size: 1rem;
  margin: 0 0.5rem;
}
.page-header .author span i {
  margin-right: 0.5rem;
}
.page-header .author span a {
  color: #FFFFFF;
  text-decoration: underline;
}
/*********************************************************************
*  						          Footer
*********************************************************************/
body > footer {
  background-color: #ffffff;
  text-align: center;
}
/*********************************************************************
*  						   Article Widget Box
*********************************************************************/
.widget,
article {
  -webkit-box-shadow: 1px 1px 4px #d0d0d0;
  -moz-box-shadow: 1px 1px 4px #d0d0d0;
  box-shadow: 1px 1px 4px #d0d0d0;
  background-color: #ffffff;
  margin: 1.5rem 0;
  padding: 1.5rem;
  position: relative;
  z-index: 1;
}
/*********************************************************************
*  						        Widgets
*********************************************************************/
.widget h4.title {
  margin: 0 0 1rem 0;
  position: relative;
}
.widget h4.title:after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
}
.widget h4.title + * {
  margin-top: 2rem;
}
.widget form * {
  margin: 0.5rem 0;
}
/*********************************************************************
*  						        Article
*********************************************************************/
article * {
  max-width: 100%;
}
article .row > div {
  margin-bottom: 1rem;
}
article header {
  text-align: center;
}
article header h2 {
  margin: 0;
}
article header p {
  margin: 0.5rem 0 1rem 0;
}
article header p span {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
  font-weight: normal;
}
article header p span:after {
  content: '\f111';
  color: rgba(0, 0, 0, 0.7);
  font-family: FontAwesome;
  font-size: 0.35rem;
  padding: 0 0.75rem;
  vertical-align: middle;
}
article header p span:last-child:after {
  content: none;
}
article section {
  line-height: 1.5rem;
}
/*********************************************************************
*  						       Share Post
*********************************************************************/
.share-post {
  text-align: center;
}
.share-post i {
  font-size: 2rem;
  width: 3rem;
}
.share-post p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
/*********************************************************************
*  						         Author
*********************************************************************/
.author img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto 1rem auto;
  max-width: 10rem;
}
.author .details {
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
}
.author .details span:first-child {
  margin-right: 1rem;
}
/*********************************************************************
*  						       Pagination
*********************************************************************/
.pages-1 {
  display: none;
}
nav.pagination {
  text-align: center;
}
nav.pagination .newer-posts,
nav.pagination .older-posts {
  position: absolute;
  padding: 0 1.5rem;
}
nav.pagination .newer-posts {
  left: 0;
}
nav.pagination .older-posts {
  right: 0;
}
